<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <h2>Đăng Nhập</h2>

        <div class="form-group">
            <label for="username">UserCode:</label>
            <input id="username" type="text" formControlName="usercode">

        </div>

        <div class="form-group">
            <label for="password">Mật khẩu:</label>
            <input id="password" type="password" formControlName="password">
            <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
                Mật khẩu phải có ít nhất 3 ký tự.
            </div>
        </div>

        <button type="submit" [disabled]="loginForm.invalid">Đăng nhập</button>
    </form>
</div>