<div class="login-container">
    <div class="login-box">

        <div class="login-panel panel-left">
            <div>
                <h1>Welcome Back!</h1>
                <p>Don't have an account? Contact to Admin</p>

                <button id="login-forgot" type="button" matButton="elevated" (click)="resetPasswordDialog()">
                    <span>Forgot password?</span>
                </button>
            </div>
        </div>

        <div class="login-panel panel-right">
            <form class="login-form" [formGroup]="'formData" (ngSubmit)="login(formData.value)">

                <div class="login-form-title">
                    <h1 class="sys-name">ITEM SHOP CONTROL</h1>
                    <h4>Sign into your account</h4>
                </div>

                <mat-form-field class="login-form-input">
                    <mat-label>User Name</mat-label>
                    <input type="text" id="username" matInput formControlName="username" placeholder="Eg: 123456">
                </mat-form-field>

                <mat-form-field class="login-form-input">
                    <mat-label>Password</mat-label>
                    <input type="password" id="password" matInput formControlName="password">
                </mat-form-field>

                <button class="login-button" type="submit" matButton="elevated">Login</button>
            </form>

            <div class="contact-infor">
                <b>@ 2026 - Development by Felix Hoang.</b>
                <br>
                <p>Contact information: abc@123</p>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
