@import '../../../../styles.scss';

.login-container {
    background-color: inherit;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.login-box {
    background-color: $bg-color-default;
    max-width: 1000px;
    min-height: 500px;
    box-sizing: border-box;
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 18px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, .24);
}

.login-panel {
    width: 50%;
    padding: 20;
    border: none;
}

.login-box .login-panel.panel-left {
    border-radius: 15px 80px 60pc 15px;
    background-color: $bg-color-gradient;
    color: $text-color-default;
    text-align: center;
    font-weight: $font-weitht-medium;
}

.login-box .login-panel.panel-left>div {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-box .login-panel.panel-left div > button {
    border: none;
    border-radius: 12px;
    height: 40px;
    color: $text-color-link;
}

.sys-name {
    color: $color-succcess;
    padding-bottom: 15px;
}

.login-box .login-panel.panel-right .login-form {
    display: flex;
    flex-direction: column;
}

.login-error {
    color: $text-color-fail;
    padding-bottom: 10px;
    margin: 0;
}

.login-button {
    border-radius: 15px;
    border: none;
    height: 35px;
    width: 100%;
    background-color: $color-success;
    margin: auto;
    color: $text-color-default;
    font-weight: $font-weight-medium;
}

.login-buttom:hover {
    scale: 1.005;
    background-color: rgb(70, 118, 221);
}

.login-form-title {
    text-align: center;
    margin-bottom: 10px;
}

.contact-infor {
    text-align: center;
    padding-top: 30px;
    font-size: 17px;
    font-weight: 400;
}
