<div class="item-create-container">

    <h2 mat-dialog-title="" class="item-create-header">CreateItem</h2>

    <mat-dialog-content class="item-create-content">
        <form class="create-item-form">

            <div class="form-row">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>*Item Code</mat-label>
                    <input type="text" matInput (input)="onFieldChange('itemCode', $event)">
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>*Quantity</mat-label>
                    <input type="number" min="0" matInput (input)="onFieldChange('quantity', $event)">
                </mat-form-field>
            </div>

            <div class="form-row">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>*VN Name</mat-label>
                    <input type="text" matInput (input)="onFieldChange('vnName', $event)">
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>*EN Name</mat-label>
                    <input type="text" matInput (input)="onFieldChange('enName', $event)">
                </mat-form-field>
            </div>

            <div class="form-row">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>*Maker</mat-label>
                    <input type="text" matInput (input)="onFieldChange('maker', $event)">
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>*Supplier</mat-label>
                    <input type="text" matInput (input)="onFieldChange('supplier', $event)">
                </mat-form-field>
            </div>

            <div class="form-row">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>*Unit</mat-label>
                    <input type="text" matInput (input)="onFieldChange('unit', $event)">
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>*Cost Per Item</mat-label>
                    <input type="number" matInput (input)="onFieldChange('cost', $event)">
                </mat-form-field>
            </div>

            <div class="form-row">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>*Currency</mat-label>
                    <input type="text" matInput (input)="onFieldChange('currency', $event)">
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>*Position In</mat-label>
                    <input type="text" matInput (input)="onFieldChange('positionIn', $event)">
                </mat-form-field>
            </div>

            @if(!detectError() && isShow) {
                <mat-error>{{message}}</mat-error>
            }
        </form>
    </mat-dialog-content>

    <mat-divider></mat-divider>

    <mat-dialog-actions class="item-create-actions">
        <button matButton class="detail-btn-action submit" (click)="createItem()">Create</button>

        <button matButton mat-dialog-close class="item-details-close detail-btn-action">Cancel</button>
    </mat-dialog-actions>
</div>
