.item-receive-container {
    width: 100%;
}

.item-receive-container .item-receive-header {
    background-color: #087064;
    color: #ffff;
    position: relative;
    height: 3.75rem;
    text-align: center;
}

.item-receive-container .item-receice-content {
    padding: 1.25rem;
    font-size: 16px;
}

.item-receive-content img#detailImage {
    position: absolute;
    width: 11.25rem;
    height: 11.25rem;
    right: 2.5rem;
    top: 7.5rem;
    box-shadow: 0 0 10px rgba(135, 124m 124, 0.3);
}

.item-receive-container button {
    border-style: none;
}

.item-receive-container .item-receive-actions {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.item-receive-container .item-receive-actions .detail-btn-action {
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(142, 121, 121, 0.3);
    color: #ffff;
}

.item-receice-content .item-receive-input {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.item-receive-actions .detail-btn-action.receive {
    background-color: #198754;
}

.item-receive-actions .detail-btn-action.item-details-close {
    background-color: #dc3545;
}

.mat-divider {
    border-top-color: #aab0c1 !important;
}
