<table>
    <thead>
        <tr>
            @for (col of columns; track col.label) {
            <th>{{ col.label }}</th>
            }
        </tr>
    </thead>

    <tbody>
        @for (row of data; track row || $index) {
        <tr>
            @for (col of columns; track col.label) {
            <td>
                @if (col.template) {
                <ng-container *ngTemplateOutlet="col.template; context: { $implicit: row }"></ng-container>
                } @else if (col.render) {
                {{ col.render(row) }}
                } @else {
                {{ row[col.key!] }}
                }
            </td>
            }
        </tr>
        } @empty {
        <tr>
            <td [attr.colspan]="columns.length">No data available.</td>
        </tr>
        }
    </tbody>
</table>