.profile-container {
    width: 100%;
}

.profile-container .profile-header {
    background-color: #087064;
    color: #ffff;
    position: relative;
    height: 3.75rem;
    text-align: center;
}

.profile-container .profile-content {
    padding: 1.14rem 1.25rem 0 1.25rem;
    font-size: 16px;
}

.profile-container button {
    border-style: none;
}

.profile-container .profile-actions {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.profile-container .profile-actions :hover {
    scale: 1.05;
}

.profile-container .profile-actions .detail-btn-action {
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(142, 121, 121, 0.3);
    color: #ffff;
}

.profile-input .form-row {
    display: flex;
    justify-content: space-around;
}

.profile-input .toggleStatus {
    background-color: #b6d8c7;
    margin-bottom: 0.5rem;
    box-shadow: 0 0 10px rgba(141, 121, 121, 0.3);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    padding: 5px;
    border-style: none;
}

.profile-input .form-row .full-width {
    width: 40rem;
}

.profile-actions .detail-btn-action.saveInfor {
    background-color: #198754;
}

.profile-actions .detail-btn-action.profile-close {
    background-color: #dc3545;
}

.mat-divider {
    border-top-color: #aabc01 !important;
}
