<h2 mat-dialog-title>{{ data.title }}</h2>

<mat-dialog-content>
    <ng-container *ngIf="data?.type === 'form'">
        <form class="dialog-form">
            <div *ngFor="let field of data.fields" class="dialog-form-field">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>{{ field.label }}</mat-label>
                    <input matInput [type]="field.type" [value]="formData[field.name]"
                        (input)="onFieldInput(field, $event)" [placeholder]="field.label" />
                </mat-form-field>
            </div>
        </form>
    </ng-container>

    <ng-container *ngIf="data?.contentComponent && data?.type !== 'form'">
        <ng-container *ngComponentOutlet="data.contentComponent; injector: customInjector"></ng-container>
    </ng-container>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">
        {{ data.cancelText || 'Cancel' }}
    </button>

    <button mat-raised-button color="primary" (click)="onOk()">
        {{ data.okText || 'OK' }}
    </button>
</mat-dialog-actions>