<div class="page-404">
    <div class="outer">
        <div class="middle">
            <div class="inner-circle">
                <mat-icon class="home-icon">home</mat-icon>
                <span>404</span>
            </div>

            <span class="inner-status"><b>Oops! You're lost</b></span>

            <span class="inner-detail">
                <p>We can not find the page you're looking for.</p>

                <a class="btn btn-infor mtl" (click)="GoToHome()" routerLinkActive="active">
                    <mat-icon class="home-icon">home</mat-icon>&nbsp;
                    Return home
                </a>
            </span>
        </div>
    </div>
</div>
