<div class="currency-update-container">
    <h2 nat-dialog-title class="currency-update-header">Update New Currency</h2>

    <mat-dialog-content class="currency-update-content">
        <form class="update-currency-form">
            <div class="form-row">

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Currency</mat-label>
                    <input type="text" matInput disabled [value]="currency.currentName">
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Exchange Rate (USD to Currency)</mat-label>
                    <input type="number" matInput [value]="currency.exchangeRate" (input)="onChangeRate($event)">
                </mat-form-field>

            </div>
        </form>
    </mat-dialog-content>

    <mat-divider></mat-divider>

    <mat-dialog-actions class="currency-update-actions">

        <button class="currency-btn-action update" matButton (click)="updateCurrency()">Update</button>

        <button class="currency-btn-action" matButton mat-dialog-close>Cancel</button>

    </mat-dialog-actions>
</div>
