@import '../../../../../styles.scss';

.forget-container h2 {
    font-weight: $font-weight-large;
    text-align: center;
    padding-bottom: 1.8rem;
}

.forget-content {
    display: flex;
    flex-direction: column;
}

.forget-action button {
    border: none;
    border-radius: 10px;
    width: 13rem;
    height: 2rem;
    margin: 1rem;
    color: $text-color-default;
    font-weight: $font-weight-medium;
}

.forget-action button.cancel {
    background-color: $text-color-fail;
}

.forget-action button.send {
    background-color: $color-success;
}

.forget-action button:hover {
    scale: 1.1;
}

mat-error {
    padding: 0;
    padding-left: 24px;
    text-align: center;
}
