<div class="forget-container">
    <form [formGroup]="forgetData" class="forget-form">
        <h2 mat-dialog-title><b>Forgot Password</b></h2>

        <mat-dialog-content class="forget-content">

            <mat-form-field class="forgetcode">
                <mat-label>User Name*</mat-label>
                <input type="text" matInput formControl="forgetcode">
            </mat-form-field>

            <mat-form-field class="forgetmail">
                <mat-label>Email*</mat-label>
                <input type="text" matInput placeholder="Ex. abc@gmail.com" formControl="forgetemail">
            </mat-form-field>

        </mat-dialog-content>

        @if(requirecode){
            <mat-error>User Name & Email are not empty!</mat-error>
        }

        <mat-dialog-actions class="forget-action" align="end">

            <button matButton mat-dialog-close class="forget-button cancel">Cancel</button>

            <button matButton class="forget-button send" (click)="resetPassword(forgetData.value)">Reset</button>

        </mat-dialog-actions>
    </form>
</div>
