.item-edit-container {
    width: 100%;
}

.item-edit-container .item-edit-header {
    background-color: #087064;
    color: #ffff;
    position: relative;
    height: 3.75rem;
    text-align: center;
}

.item-edit-container .item-edit-content {
    padding: 1.25rem;
    font-size: 16px;
}

.item-edit-container button {
    border-style: none;
}

.item-edit-container .item-edit-actions {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.item-edit-container .item-edit-actions :hover {
    scale: 1.05;
}

.item-edit-container .item-edit-actions .detail-btn-action {
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(142, 121, 121, 0.3);
    color: #ffff;
}

.form-row {
    display: flex;
    justify-content: space-around;
    gap: 5rem;
}

.form-row .full-width {
    width: 25rem;
}

.item-edit-actions .detail-btn-action.submit {
    background-color: #198754;
}

.item-edit-actions .detail-btn-action.item-details-close {
    background-color: #dc3545;
}

.mat-divider {
    border-top-color: #aab0c1 !important;
}
