<div class="header-title">
    <h2>HISTORY</h2>
</div>

<div class="history-tools">
    <input matInput [(ngModel)]="searchText" placeholder="Input here..." type="text" class="btn-action-search" #filter>
    
    <button matButton="elevated" (click)="getData(filter.value)" class="btn-data-action search">
        <span>Search</span>
        <mat-icon>search</mat-icon>
    </button>
    
    <button matButton="elevated" (click)="exportHistory()" class="btn-data-action export">
        <span>Export</span>
        <mat-icon>get_app</mat-icon>
    </button>

</div>

<app-table [columns]="columns" [data]="histories"></app-table>
